<div class="main">
    <div class="tool">
        <button
        tuiButton
        (click)="update()"
        [showLoader]="updLoud"
    size="m"
      >
        база обновлена {{date}}
        </button>
    </div>
    <h1>
        Мобильное приложение контролёра
    </h1>

    <hr/>
    <br>
    <tui-island  class="card"  size="l" textAlign="left">
        <h3 class="tui-island__title">Сканировать</h3>
        <div *ngIf=" user">
            <p class="tui-island__paragraph">Имя: {{user.name}}</p>
            <p class="tui-island__paragraph">Лет: {{user.age}} </p>
            <p class="tui-island__paragraph">Льготы: {{user.benefit}}</p>


        </div>
        <p  *ngIf=" !user" class="tui-island__paragraph">{{text}}</p>
      </tui-island>
      <button
      [showLoader]="loud"
      tuiButton
      (click)="scan()"
    >
        начать сканирование
    </button>
</div>